
@using global::Shared.Enum;
@switch (Status)
{
    case OrderStatus.Active:
        <span class="badge badge-primary">@nameof(OrderStatus.Active)</span>
        break;
    case OrderStatus.Returned:
        <span class="badge badge-success">@nameof(OrderStatus.Returned)</span>
        break;
    case OrderStatus.Expired:
        <span class="badge badge-warning">@nameof(OrderStatus.Expired)</span>
        break;
}


@code {
    [Parameter]
    public OrderStatus Status { set; get; }
}
