@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
@using ManageBooks.Users;

<PageTitle>Thư viện Nam Hải</PageTitle>

<BlazoredToasts 
    Position="ToastPosition.BottomRight" 
    Timeout="5" 
    IconType="IconType.FontAwesome" 
    ErrorIcon="fa fa-times"
    InfoIcon="fa fa-info" 
    SuccessIcon="fa fa-check" 
    WarningIcon="fa fa-exclamation" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/logout" class="ml-md-auto">Đăng xuất</a>

                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="ml-md-auto">Login</a>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
